.header-content{
  margin: 120px 90px 0px 140px;
  width: auto;
  height: 80px;
  justify-content: center;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom: solid 5px rgb(241, 76, 125);

  h3{
    padding: 20px;
    color: rgb(241, 76, 125);
  }
  fa-icon{
    margin-right: 5px;
  }
}
