.modal-body{
  border-left: solid 5px rgba(76, 92, 241, 0.582);
}

.modal-header{
  h3{
    margin: auto;
  }

  border-left: solid 5px rgba(76, 92, 241, 0.582);
}

.modal-footer{
  border-left: solid 5px rgba(76, 92, 241, 0.582);
}

.delete{
  cursor: pointer;
}
