<div class="side-bar-container bg-light">
  <div class="side-bar-list">
    <ul class="side-bar-list-group">
        <li class="side-bar-list-item">
          <fa-icon [icon]="icons.faChartLine"></fa-icon>
          <a routerLink=""> Dashboard</a>
        </li>
        <li class="side-bar-list-item">
          <fa-icon [icon]="icons.faUsersCog"></fa-icon>
          <a routerLink="users"> Users</a>
        </li>
        <li class="side-bar-list-item">
          <fa-icon [icon]="icons.faQuestionCircle"></fa-icon>
           <a routerLink="about">  About</a>
        </li>
    </ul>
  </div>
</div>
